<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Dashboard</title>
    <link rel="stylesheet" href="/modules/bootstrap/dist/css/bootstrap.min.css">
</head>

<body>
<div class="container">
    <h1>Dashboard</h1>
    <h2>This will create a NEW option called <strong>Membership</strong> with its variants and prices you input</h2>

    <% data.products.products.forEach(function(product){ %>
    <% console.log(product.options) %>
    <div class="col-xs-12">
        <div class="well">
            <h3><%= product.title %></h3>

            <% product.variants.forEach(function(variant){ %>

            <div class="row">
                <form class="membership" action="/membership" method="post">
                    <input type="hidden" value="<%= product.id %>" name="product_id">
                    <input type="hidden" value="<%= variant.id %>" name="variant_id">
                    <input type="hidden" value="<%= product.options[0].id %>" name="option_id">
                    <div class="col-md-4">
                        <div class="form-group">
                            <label for="option">Membership Name:</label>
                            <input type="text" class="form-control" name="option" id="option"
                                   value="<%= variant.option1 %>">
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label for="price">Price:</label>
                            <input type="number" class="form-control" name="price" id="price"
                                   value="<%= variant.price %>">
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <input type="submit" class="btn btn-submit">
                        </div>
                    </div>
                </form>
                    </div>
            <% }) %>

        </div>
        </div>
    <% }); %>

</div>


<script src="/modules/jquery/jquery.min.js"></script>
<script src="/modules/bootstrap/dist/js/bootstrap.min.js"></script>
<script type="text/javascript">
    $(function() {
        $('.membership').submit(function(event) {
            event.preventDefault(); // Prevent the form from submitting via the browser
            var form = $(this);
            $.ajax({
                type: form.attr('method'),
                url: form.attr('action'),
                data: form.serialize(),
                success: function(data) {
                    console.log(data);
                },
                error: function(data){
                    console.log(data);
                }
            })
        });
    });
</script>
</body>
</html>