<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Dashboard</title>
    <link rel="stylesheet" href="/modules/bootstrap/dist/css/bootstrap.min.css">
</head>

<body>
<div class="container">
    <h1>Dashboard</h1>
    <h2>This will create a NEW option called <strong>Membership</strong> with its variants and prices you input</h2>

    <% products.product.forEach(function(product) { %>
    <div class="col-md-12">
        <div class="well">
            <h3><%= product.title %> <small>$<%= product.price %></small></h3>
            <form class="membership" action="/membership" method="post">
                <input type="hidden" name="product_id" value="<%= product.id %>">
                <input type="hidden" name="sku" value="<%= product.sku %>">
                <input type="hidden" name="weight" value="<%= product.weight %>">
                <input type="hidden" name="weight_unit" value="<%= product.weight_unit %>">
                <input type="hidden" name="inventory_quanity" value="<%= product.inventory_quantity %>">
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="option">Variant:</label>
                        <input type="text" class="form-control" name="option" id="option">
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="price">Price:</label>
                        <input type="text" class="form-control" name="price" id="price">
                    </div>
                </div>
                <input type="submit" class="btn btn-submit">
            </form>
        </div>
    </div>
    <% }); %>

</div>


<script src="/modules/jquery/jquery.min.js"></script>
<script src="/modules/bootstrap/dist/js/bootstrap.min.js"></script>
<script type="text/javascript">
    $(function() {
        $('.membership').submit(function(event) {
            event.preventDefault(); // Prevent the form from submitting via the browser
            var form = $(this);
            $.ajax({
                type: form.attr('method'),
                url: form.attr('action'),
                data: form.serialize(),
                success: function(data) {
                    console.log(data);
                },
                error: function(data){
                    console.log(data);
                }
            })
        });
    });
</script>
</body>
</html>